/*------------------------------- */
/*      Settings                 */
/*------------------------------- */
body {
  margin: 0;
}

/*------------------------------- */
/*      Layout                   */
/*------------------------------- */
.dui-layout {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: auto;
}

/*------------------------------- */
/*      Grid                     */
/*------------------------------- */
.dui-grid-wrapper {
  flex: 4;
  background-color: #D5D4C7;
  border-left: 2px solid #9E9E98;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.dui-grid {
  display: grid;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 100%;
  width: 100%;
}

@media (max-width: calc(1440px - 200px)) {
  .dui-grid {
    width: calc(1440px - 200px);
  }
}
@media (max-height: calc(1000px - 70px)) {
  .dui-grid {
    height: calc(1000px - 70px);
  }
}
.dui-grid-1-rows {
  grid-template-rows: repeat(1, 1fr);
}

.dui-grid-2-rows {
  grid-template-rows: repeat(2, 1fr);
}

.dui-grid-3-rows {
  grid-template-rows: repeat(3, 1fr);
}

.dui-grid-4-rows {
  grid-template-rows: repeat(4, 1fr);
}

.dui-grid-5-rows {
  grid-template-rows: repeat(5, 1fr);
}

.dui-grid-6-rows {
  grid-template-rows: repeat(6, 1fr);
}

.dui-grid-7-rows {
  grid-template-rows: repeat(7, 1fr);
}

.dui-grid-8-rows {
  grid-template-rows: repeat(8, 1fr);
}

.dui-grid-9-rows {
  grid-template-rows: repeat(9, 1fr);
}

.dui-grid-10-rows {
  grid-template-rows: repeat(10, 1fr);
}

.dui-grid-11-rows {
  grid-template-rows: repeat(11, 1fr);
}

.dui-grid-12-rows {
  grid-template-rows: repeat(12, 1fr);
}

.dui-grid-1-cols {
  grid-template-columns: repeat(1, 1fr);
}

.dui-grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.dui-grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.dui-grid-4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.dui-grid-5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.dui-grid-6-cols {
  grid-template-columns: repeat(6, 1fr);
}

.dui-grid-7-cols {
  grid-template-columns: repeat(7, 1fr);
}

.dui-grid-8-cols {
  grid-template-columns: repeat(8, 1fr);
}

.dui-grid-9-cols {
  grid-template-columns: repeat(9, 1fr);
}

.dui-grid-10-cols {
  grid-template-columns: repeat(10, 1fr);
}

.dui-grid-11-cols {
  grid-template-columns: repeat(11, 1fr);
}

.dui-grid-12-cols {
  grid-template-columns: repeat(12, 1fr);
}

.dui-grid-0-padding {
  grid-gap: 0px;
}

.dui-grid-1-padding {
  grid-gap: 1px;
}

.dui-grid-2-padding {
  grid-gap: 2px;
}

.dui-grid-5-padding {
  grid-gap: 5px;
}

.dui-grid-10-padding {
  grid-gap: 10px;
}

.dui-grid-25-padding {
  grid-gap: 25px;
}

.dui-grid-50-padding {
  grid-gap: 50px;
}

.dui-grid-100-padding {
  grid-gap: 100px;
}

.dui-grid-element {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow: auto;
  font-size: 0.8em !important;
}

/*------------------------------- */
/*      Control Panel            */
/*------------------------------- */
.dui-controlpanel-wrapper {
  flex: 1;
  border-right: 2px solid #9E9E98;
  overflow: auto;
  min-width: 200px;
}
.dui-controlpanel-wrapper p {
  margin-bottom: 0;
  padding-top: 10px;
}
.dui-controlpanel-wrapper strong {
  font-size: 1em;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.dui-controlpanel-wrapper label {
  display: block;
}
.dui-controlpanel-wrapper .options-checklist {
  max-height: 200px;
  overflow-y: auto;
}
.dui-controlpanel-wrapper textarea {
  height: 100px;
  width: 100%;
}
.dui-controlpanel-wrapper ul {
  max-height: 200px;
  overflow-y: auto;
}
.dui-controlpanel-wrapper .dui-controlpanel-group {
  padding: 10px;
}
.dui-controlpanel-wrapper .dui-controlpanel-group:nth-child(2n+1) {
  background-color: #D5D4C7;
}
.dui-controlpanel-wrapper .dui-controlpanel-group:nth-child(2n+2) {
  background-color: #fff;
}
.dui-controlpanel-wrapper .dui-controlpanel-section-title {
  font-size: 1.2em;
  font-weight: 700;
}